.add-box {
  background-color: #e0e0e0;
  border-radius: 2rem;
  padding: 2rem;
  margin: 2rem auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .ISBN-input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .titel-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: 576px) {
      flex-direction: row;
    }
  }

  .star-rating {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;

    i {
      font-size: 1.5rem;
      padding-right: 0.1rem;
      color: #ffa600; // Default-Sternfarbe (z. B. grau/blau)
    }

    .filled {
      color: #ffa600; // Gefüllter Stern (Blau)
    }

    .filled.low {
      color: #ffa600; // Gefüllter Stern bei niedriger Bewertung (Rot)
    }
  }

  .d-flex.align-items-center.justify-content-center.gap-3 {
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }

  .form-check.d-flex.flex-wrap.gap-4 {
    gap: 1rem;
    row-gap: 0.5rem;
  }

  @media (max-width: 576px) {
    .add-box {
      padding: 1rem;
    }
  }
}
