.staricon {
  color: #f39c12;
  font-size: 1.25rem;
}

.home-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.home-button {
  background-color: #cac7c7;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.homeicon {
  margin-right: 8px;
}
