.staricon {
  color: #ffaf2f;
  font-size: 1.25rem;
}

.home-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.home-button {
  background-color: #cac7c7;
  border: 1px solid #888888;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.homeicon {
  margin-right: 8px;
  color: black;
}

.buch-id {
  color: inherit; // normale Textfarbe
  text-decoration: none; // keine Unterstreichung

  &:hover {
    color: #007bff; // Bootstrap-Blau oder Wunschfarbe
    text-decoration: underline;
    cursor: pointer;
  }
}
