.staricon {
  color: #ffaf2f;
  font-size: 1.25rem;
}

.home-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.home-button {
  background-color: #cac7c7;
  border: 1px solid #888888;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.homeicon {
  margin-right: 8px;
  color: black;
}

.buch-id {
  color: inherit; // normale Textfarbe
  text-decoration: none; // keine Unterstreichung

  &:hover {
    color: #007bff; // Bootstrap-Blau oder Wunschfarbe
    text-decoration: underline;
    cursor: pointer;
  }
}
.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Mobilansicht */
@media (max-width: 600px) {
  .responsive-table thead {
    display: none;
  }

  .responsive-table tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .responsive-table td::before {
    content: attr(data-label);
    font-weight: bold;
  }

  .responsive-table td:last-child {
    border-bottom: none;
  }
}
