<header class="header">
  <h1 class="hLogin">Login</h1>
  <!-- Close Button -->
  <div class="close">
    <button type="button" class="btn btn-light btn-sm" aria-label="Close" (click)="close()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</header>

<div class="Login">
  <!-- Dialog Content -->
  <div class="inputfield mb-3">
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="username" />
    </div>

    <div class="mb-3 input-group">
      <input [type]="isHidden ? 'password' : 'text'" class="form-control" placeholder="Passwort"
        [(ngModel)]="password" />
      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!isHidden">
        <i class="fa-solid" [ngClass]="isHidden ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
  </div>

  <div class="buttonfield">
    <button type="button" class="btn btn-primary w-100" (click)="login()">Login</button>
  </div>
  <div *ngIf="error" class="text-danger text-center mt-2">
    {{ error }}
  </div>
</div>