.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  position: relative;
  padding: 1rem;
  width: 100%;
  max-width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    padding: 2rem 4rem;
  }
}
.form-container {
  width: 100%;
  max-width: 480px;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  margin-top: 1rem;

  @media (min-width: 768px) {
    margin-left: 2rem;
    margin-top: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 100px;
  position: relative;
}

.left,
.center,
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.HKA_White {
  max-width: 500px;
  height: auto;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.User span {
  gap: 1rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}

/* -------- Responsive Anpassung -------- */
@media (max-width: 600px) {
  .header {
    height: 80px;
    padding: 0.5rem;
    position: relative;
  }

  .left,
  .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    flex: none;
  }

  .left {
    left: 1rem;
  }

  .right {
    right: 1rem;
  }

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    flex: none;
  }

  .HKA_White {
    max-width: 160px;
  }
}

.offcanvas {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.offcanvas.open {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
