<div *ngIf="buch; else loading" class="buch-card">
  <h2>{{ buch.titel?.titel }} (ID: {{ buch.id }})</h2>
  <p><strong>Untertitel:</strong> {{ buch.titel?.untertitel }}</p>
  <p><strong>ISBN:</strong> {{ buch.isbn }}</p>
  <p>
    <strong>Rating: </strong>
    <span *ngFor="let star of [1,2,3,4,5]">
      <i class="fa-star fa" [class.fa-solid]="star <= buch.rating" [class.fa-regular]="star > buch.rating"></i>
    </span>
  </p>
  <p><strong>Art:</strong> {{ buch.art }}</p>
  <p><strong>Preis:</strong> {{ buch.preis | currency:'EUR' }}</p>
  <p><strong>Rabatt:</strong> {{ buch.rabatt }}</p>
  <p><strong>Lieferbar:</strong> {{ buch.lieferbar ? 'Ja' : 'Nein' }}</p>
  <p><strong>Datum:</strong> {{ buch.datum | date:'dd.MM.yyyy' }}</p>
  <p><strong>Homepage: </strong> <a [href]="buch.homepage" target="_blank">{{ buch.homepage }}</a></p>
  <p><strong>Schlagwörter:</strong> [{{ buch.schlagwoerter}}]</p>
</div>

<ng-template #loading>
  <p>Lade Buchdetails...</p>
</ng-template>