@use '@angular/material' as mat;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 40px;
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));
}

mat-slider {
  width: 300px;
}

.stars mat-icon {
  cursor: pointer;
  font-size: 30px;
  color: gold;
}
.rating .selected {
  color: gold;
}