.search-box {
  background-color: #e0e0e0;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1px;

  .search-field {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;

    fa-solid {
      border: none;
      color: rgb(126, 126, 126);
    }

    input {
      border: none;
      outline: none;
      flex: 1;
      font-size: 1rem;
      background: none;
    }
  }
}
mat-slider {
  width: 100%;
}

.star-rating {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #ffa600; // Default-Sternfarbe (z. B. grau/blau)
  }

  .filled {
    color: #ffa600; // Gefüllter Stern (Blau)
  }

  .filled.low {
    color: #ffa600; // Gefüllter Stern bei niedriger Bewertung (Rot)
  }
}
.error-msg {
  margin-top: 1rem; /* Abstand zum Suchfeld */
  color: red; /* Signalfarbe */
  font-weight: bold;
  text-align: center; /* horizontal zentrieren */
}
