<div class="search-box">
  <div class="search-field">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" [(ngModel)]="searchInput" (keyup.enter)="search()" placeholder="Search ISBN or Titel" />
  </div>
  <div class="rating">
    <mat-slider min="0" max="5" step="1" thumbLabel [(ngModel)]="rating">
      <input matSliderThumb />
    </mat-slider>
  </div>
  <mat-form-field>
    <mat-label>Buch Art</mat-label>
    <mat-select [(ngModel)]="art">
      <mat-option *ngFor="let artItem of arts" [value]="artItem.value">
        {{ artItem.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>